.art_post {
  overflow: hidden;
  fill: var(--outline-color);
}

.post_items {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-around;
}

.post_items img {
  width: 70vw;
  margin-top: 1rem;
  padding: 1rem;

  border: 1px solid var(--outline-color);
  border-radius: 25px;
  box-shadow: 0.5rem 0.5rem 0.5rem black;
}

.description_info {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;

  text-align: center;
}

.description {
  padding: 2rem;
  margin: 2rem;

  background: var(--hover-background-color);
  border: 1px solid var(--outline-color);
  border-radius: 25px;
  box-shadow: 0.5rem 0.5rem 0.5rem black;

  text-align: left;
}

.description > div > p {
  border-bottom: 1px solid var(--outline-color);

  font-size: larger;
  font-weight: bold;
}
.description button {
  display: flex;
  /* align-items: center;
  justify-content: space-between; */

  padding: 0.75rem;

  border-radius: 25px;
  border: 1px solid var(--outline-color);

  color: var(--outline-color);
  fill: var(--outline-color);
  background: transparent;

  font-weight: 600;

  transition: all 0.2s ease;
}
.description button:hover,
.description button:active {
  cursor: pointer;

  border: 1px solid var(--action-color);
  color: var(--action-color);
  fill: var(--action-color);

  transition: all 0.2s ease;
}
.description button svg {
  height: 15px;
  width: 15px;

  margin: 0 0.25rem 0 0;
}

.loader,
.small_loader {
  width: 10rem;
  height: 10rem;

  margin: auto;
  margin-top: 1rem;

  border: 0.5rem solid var(--loader-color);
  border-top: 0.5rem solid var(--action-color);
  border-radius: 100%;

  animation: spin 0.75s ease-in-out infinite;
}

.small_loader {
  width: 2rem;
  height: 2rem;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
