.main {
  height: 100vh;
  width: 100vw;

  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-around;
}
.main h1 {
  font-size: 4rem;
}

.images {
  display: flex;
  flex-flow: row nowrap;

  padding: 2rem;
  margin: 3rem 0 0 0;

  fill: var(--primary-text-color);
}

.primary_image_frame {
  padding: 1rem;

  border: 3rem double var(--tertiary-background-color);
  border-radius: 100%;

  animation: floating 4s infinite ease-in-out;
}

.primary_cropped_image {
  display: flex;
  align-items: center;
  justify-content: center;

  border: 2rem solid var(--tertiary-background-color);
  border-radius: 100%;

  overflow: hidden;
}
.primary_image {
  height: 60vh;
  width: 60vh;

  animation: fade 2s ease-in 1;
}

.secondary_image_frame {
  position: relative;
  top: 5rem;
  left: 17rem;
  margin: -10rem;

  animation: floating 3s infinite alternate-reverse;
}

.secondary_cropped_image {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;

  border: 2rem double var(--tertiary-background-color);

  overflow: hidden;
}
.secondary_image {
  height: 30vh;
  width: 30vh;

  animation: fade 3s ease-in 1;
}

.main_text {
  position: relative;
  left: -8rem;
  top: 2rem;

  width: 60vh;
  margin: 12rem 0 0 0;

  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;

  padding: 2rem;

  border: 1px solid var(--outline-color);
  border-radius: 1.5625rem;

  box-shadow: 1rem 3rem var(--tertiary-background-color);
  background: var(--hover-background-color);

  text-align: center;
}

.main_text a {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;

  padding: 1rem;

  border: 1px solid var(--primary-text-color);
  border-radius: 25px;

  color: var(--primary-text-color);
  fill: var(--primary-text-color);

  transition: all 0.2s ease;
}
.main_text a:hover {
  border: 1px solid var(--action-color);

  color: var(--action-color);
  fill: var(--action-color);

  transition: all 0.2s ease;
}

.main_text svg {
  height: 2rem;
  width: 2rem;

  margin: 0 0 0 1rem;
}

.loader {
  width: 10rem;
  height: 10rem;

  margin: auto;

  border: 0.5rem solid var(--loader-color);
  border-top: 0.5rem solid var(--action-color);
  border-radius: 100%;

  animation: spin 0.75s ease-in-out infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.floating {
  animation: floating 5s ease-in-out infinite;
}

@keyframes floating {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 5px);
  }
  100% {
    transform: translate(0, -0px);
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
