.main {
  align-items: center;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;

  height: 100vh;
  width: 100vw;
}

.main_text {
  align-items: center;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;

  background: var(--primary-background-color);

  border: 1px solid var(--outline-color);
  border-radius: 1.5625rem;
  box-shadow: 5px 5px 5px black;

  max-width: 500px;
  width: 50vw;

  padding: 2rem;

  text-align: center;

  z-index: 100;
}

.main_text a {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;

  border: 1px solid var(--primary-text-color);
  border-radius: 25px;

  color: var(--primary-text-color);
  fill: var(--primary-text-color);

  width: 70%;

  padding: 1rem;

  transition: all 0.2s ease;
}

.main_text a:hover {
  border: 1px solid var(--action-color);

  color: var(--action-color);
  fill: var(--action-color);

  transition: all 0.2s ease;
}

.main_text svg {
  height: 2rem;
  width: 2rem;
}

.loader {
  border: 0.5rem solid var(--loader-color);
  border-top: 0.5rem solid var(--action-color);
  border-radius: 100%;

  width: 10rem;
  height: 10rem;

  margin: auto;

  animation: spin 0.75s ease-in-out infinite;
}

@media (min-width: 360px) {
  .main_text a {
    width: 30%;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
