.empty_state {
  align-items: center;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;

  height: 40vh;
  width: 40vw;

  border: 1px solid var(--outline-color);
  border-radius: 25px;

  margin: auto;
  margin-top: 3rem;
  padding: 1rem;
}

.empty_state svg {
  height: 50%;
  width: 50%;
}
