.empty_state {
  height: 40vh;
  width: 40vw;

  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;

  padding: 1rem;
  margin: auto;
  margin-top: 3rem;

  border: 1px solid var(--outline-color);
  border-radius: 25px;
}

.empty_state svg {
  height: 50%;
  width: 50%;
}
