.empty_state {
  height: 35vh;
  width: 35vw;

  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;

  margin: 2rem;

  border: 1px solid var(--outline-color);
  border-radius: 25px;
}

.empty_state svg {
  height: 10rem;
  width: 10rem;

  margin: 1rem;
}
