.frame {
  left: 2rem;

  display: flex;
  align-items: center;
}

.frame div {
  position: absolute;
  margin: 0 0 0 6.25rem;

  transition: transform 0.2s;
}
.frame div:hover {
  transform: scale(1.5);
}
