.container {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;

  width: 50vw;

  fill: var(--primary-text-color);
}

.container svg {
  height: 1rem;
  width: 1rem;
}

.search_elements {
  display: flex;
  align-items: center;
  border: 1px solid var(--outline-color);
  border-radius: 5px;
  background-color: var(--loader-color);
  width: 30vw;
}
.search_elements span {
  margin: 0 0 0 0.5rem;
}
.search_elements button {
  background-color: transparent;
  border: transparent;
  width: 2rem;
  margin: 0.25rem;
  height: 100%;
}
.search_elements button:hover {
  cursor: pointer;
}

.search {
  font-size: 1rem;
  color: var(--primary-text-color);
  padding: 0.5rem;
  width: 30vw;
  background-color: transparent;
  border: transparent;
}
.search::placeholder {
  color: var(--primary-text-color);
}
