.container {
  align-items: center;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;

  fill: var(--primary-text-color);
}

.container svg {
  height: 1rem;
  width: 1rem;
}

.search_elements {
  align-items: center;
  display: flex;

  background-color: var(--loader-color);

  border-radius: 0.3125rem;
  border: 1px solid var(--outline-color);
}
.search_elements button {
  width: 2rem;
  height: 100%;

  margin: 0.25rem;

  background-color: transparent;

  border: transparent;
}
.search_elements button:hover {
  cursor: pointer;
}
.search_actions {
  display: flex;
  flex-flow: row nowrap;
}

.search {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;

  width: 30vw;

  padding: 0.5rem;

  border: transparent;

  background-color: transparent;
  color: var(--primary-text-color);

  font-size: 1rem;
}
.search::placeholder {
  color: var(--primary-text-color);
}

.search_loader {
  width: 0.5rem;
  height: 0.5rem;

  border: 0.5rem solid var(--loader-color);
  border-top: 0.5rem solid var(--action-color);
  border-radius: 100%;

  margin: auto;
  padding: 1rem;

  animation: spin 0.75s ease-in-out infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
