.art_post {
  margin: 2rem 0;
  padding: 10rem 0 0 0;
  overflow: hidden;
}

.post_items {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-around;
}

.description_info {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  text-align: center;
}

.description {
  max-width: 70vh;
  min-width: 50vh;
  background: #d5dbb3;
  border: 1px solid #bb371a;
  padding: 2rem;
  text-align: left;
}
.description > div {
  padding: 0 0 1rem 0;
}
.description > div > p {
  border-bottom: 1px solid #bb371a;
  font-size: larger;
  font-weight: bold;
}
.description button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 600;
  border-radius: 25px;
  border: 1px solid #bb371a;
  color: #bb371a;
  padding: 0.75rem;
  transition: all 0.2s ease;
  fill: #bb371a;
  background: transparent;
}
.description button:hover,
.description button:active {
  cursor: pointer;
  transition: all 0.2s ease;
  border: 1px solid #005a8d;
  color: #005a8d;
  fill: #005a8d;
}
.description button svg {
  height: 15px;
  width: 15px;
  margin: 0 0.25rem 0 0;
}

.loader,
.small_loader {
  border: 0.5rem solid #f3e9ba;
  border-top: 0.5rem solid #005a8d;
  border-radius: 100%;
  width: 10rem;
  height: 10rem;
  margin: auto;
  animation: spin 0.75s ease-in-out infinite;
}

.small_loader {
  width: 2rem;
  height: 2rem;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
