.card {
  display: flex;
  align-items: flex-start;
  justify-content: center;

  min-width: 25vw;
  max-width: 25vw;
  max-height: 30vh;

  margin: 1rem;
  padding: 1.5rem;

  text-align: center;

  /* background: var(--secondary-background-color);
  color: var(--secondary-text-color); */
  fill: var(--outline-color);
  border: 1px solid var(--outline-color);
  border-radius: 10px;

  transition: all 0.2s ease;
}

.card:hover {
  background: var(--hover-background-color);
  transition: all 0.2s ease;
}

.card_no_image {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;

  max-height: 30vh;
  margin: 0 0 1rem 0;
}
.card_no_image svg {
  height: 5rem;
  width: 5rem;
}
.card_no_image div {
  margin: 0.5rem 0 0 0;
}

.card_items {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.card:hover,
.card:focus,
.card:active {
  color: var(--action-color);
  fill: var(--action-color);
  border-color: var(--action-color);
  transform: scale(1.05);
  cursor: pointer;
}

.card h2 {
  padding: 1rem;
  background: var(--card-color);
  border-radius: 1rem;
}

.card p {
  font-style: italic;
  margin: -0.5rem 0 0.5rem 0;
}

.cropped_image {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 25px;

  width: 30vh;
  height: 20vh;

  overflow: hidden;
}
