.card {
  display: flex;
  align-items: flex-start;
  justify-content: center;

  width: 30%;
  height: 70vh;

  margin: 1rem;
  padding: 1.5rem;

  text-align: center;

  background: var(--card-color);
  fill: var(--outline-color);
  border: 1px solid var(--outline-color);
  border-radius: 10px;

  transition: all 0.2s ease;
}

.card_no_image {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;

  height: 30vh;
  margin: 1rem;
}
.card_no_image svg {
  height: 5rem;
  width: 5rem;
}
.card_no_image div {
  margin: 0.5rem 0 0 0;
}

.card_items {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.card:hover,
.card:focus,
.card:active {
  color: var(--action-color);
  fill: var(--action-color);
  border-color: var(--action-color);
  transform: scale(1.05);
  cursor: pointer;
}

.card h2 {
  padding: 1rem;
  font-size: 2rem;
  background: var(--main-background-color);
  border-radius: 1rem;
}

.card p {
  font-size: 1.25rem;
}

.cropped_image {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 25px;

  width: 30vh;
  height: 30vh;

  overflow: hidden;
}
