.favorites {
  padding: 5rem 0 2rem 0;
  fill: #bb371a;

  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
.favorites > div {
  padding: 0 0 0.5rem 0;
}
.favorites h2 {
  padding: 2rem 0 0 0;
  font-size: xx-large;
}

.favorites_object_name {
  font-size: x-large;
  font-weight: 600;
}

.favorites_row {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;

  width: 85%;
  height: 15vh;

  margin: 0.5rem;
  padding: 1rem;
  font-size: large;
  border: 1px solid #bb371a;
  border-radius: 25px;
}
.favorites_row a {
  fill: #bb371a;
}
.favorites_row p {
  margin: 0 0 0 1rem;
}
.favorites_row a:hover {
  color: #005a8d;
  border-color: #005a8d;
  transition: all 0.2s ease;
  fill: #005a8d;
}
.favorites_row svg {
  width: 2rem;
  height: 2rem;
}
.favorites_row button {
  height: 2rem;
  width: 2rem;
  background: transparent;
  border-radius: 100%;
  border: 2px solid #bb371a;
  fill: #bb371a;

  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease;
}
.favorites_row button svg {
  height: 1rem;
  width: 1rem;
}
.favorites_row button:hover {
  color: #005a8d;
  border-color: #005a8d;
  transition: all 0.2s ease;
  fill: #005a8d;
}
.favorites_cropped_image {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 80%;
  /* max-width: 50vh;
  max-height: 50%; */
  /* text-indent: -60%; */

  overflow: hidden;
  /* clip-path: inset(15vh 0 0 0); */
}

.favorites_row_text {
  width: 20%;
  padding: 0 0 0 1rem;
}

.favorites_action_items {
  width: 5rem;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-end;
  padding: 0 2rem 0 0;
}
.favorites_action_items a,
.favorites_action_items button {
  margin: 0 0 0 1rem;
}

.exit {
  opacity: 1;
}
.exitActive {
  opacity: 0;
  transition: opacity 200ms;
}
.exitDone {
  opacity: 0;
}
