@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@400;500;600&display=swap");

:root {
  --primary-background-color: #333333;
  --secondary-background-color: #e4002b;
  --tertiary-background-color: #f2f2f2;
  --card-color: #f2f2f2;
  --hover-background-color: #860019;
  --primary-text-color: #cfe4ff;
  --secondary-text-color: #860019;
  --outline-color: #cfe4ff;
  --action-color: #7eabff;
  --loader-color: #535252;
}

html,
body {
  background: var(--primary-background-color);
  color: var(--primary-text-color);

  padding: 0;
  margin: 0;

  width: 100vw;
  height: 100vh;
  font-family: "Oxygen";
  /* font-family: "Nunito"; */
  /* font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */
}

a {
  color: var(--action-color);
  text-decoration: none;
}
h1 {
  font-size: xx-large;
}
h2 {
  font-size: x-large;
}
