@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap");

:root {
  --primary-background-color: #4b6448;
  --secondary-background-color: #968974;
  --tertiary-background-color: #423f37;
  --card-color: #6a8a66;
  --hover-background-color: #577454;
  --primary-text-color: white;
  --secondary-text-color: black;
  --outline-color: white;
  --action-color: #deff92;
  --loader-color: #f3e9ba;
  /* --main-background-color: #fff8d9;
  --secondary-background-color: #eba83a;
  --card-color: #d5dbb3;
  --outline-color: #bb371a;
  --action-color: #005a8d;
  --loader-color: #f3e9ba; */
}

html,
body {
  background: var(--primary-background-color);
  color: var(--outline-color);

  padding: 0;
  margin: 0;

  width: 100vw;
  height: 100vh;
  font-family: "Montserrat";
  /* font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */
}

a {
  color: var(--action-color);
  text-decoration: none;
}
h1 {
  font-size: xx-large;
}
h2 {
  font-size: x-large;
}

/* h1 {
  background: var(--card-color);
  padding: 2rem;
  width: 100%;
  text-align: center;
}
h2 {
  margin: 1rem;
}

* {
  box-sizing: border-box;
} */

/*
PALETTE: 
dark yellow = EBA83A
dark red = BB371A
pale yellow = FFF8D9
pale green = D5DBB3
blue = 005A8D
*/
