.header {
  background: var(--secondary-background-color);
  color: var(--primary-text-color);
  border-bottom: 1px solid var(--outline-color);

  position: sticky;
  top: 0px;

  width: 100%;
  min-width: 71rem;
  height: 6rem;

  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.header h1 {
  padding: 1rem 2rem;
  align-self: center;
  justify-self: center;

  background: var(--hover-background-color);
  color: var(--primary-text-color);
  fill: var(--primary-text-color);
  border-radius: 25px;

  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.header svg {
  width: 2rem;
  height: 2rem;
  margin: 0 0 0 0.5rem;
}

.header_text {
  align-items: center;
  margin: 0;
}

.link,
.link button,
.link a {
  display: flex;
  align-items: center;

  font-weight: 600;
  border-radius: 25px;
  border: 1px solid var(--outline-color);
  color: var(--outline-color);
  fill: var(--outline-color);
  background: var(--primary-background-color);

  padding: 1rem;
  margin: 0 2rem;

  transition: all 0.2s ease;
}

.link:hover {
  color: var(--action-color);
  border-color: var(--action-color);
  transition: all 0.2s ease;
  fill: var(--action-color);
}

.link svg {
  margin: 0 0.25rem 0 0;
  height: 15px;
  width: 15px;
}
