.loader {
  border: 0.5rem solid var(--loader-color);
  border-top: 0.5rem solid var(--action-color);
  border-radius: 100%;
  width: 10rem;
  height: 10rem;
  margin: auto;
  padding: 1rem;
  animation: spin 0.75s ease-in-out infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.main {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.title {
  margin: 2rem 0 0 0;
  line-height: 1.15;
  font-size: 4rem;
  border-radius: 1rem;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.search {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;
  width: 50vw;
  height: 8vh;
}

.home_content {
  width: 95vw;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;

  fill: var(--primary-text-color);
}

.no_objects {
  text-align: center;
  padding: 2rem;
}

.home_content button {
  position: fixed;
  bottom: 0.5rem;
  right: 0.5rem;
  background-color: transparent;
  border: transparent;
  margin: 1rem;

  transition: all 0.2s ease;
}
.home_content button:hover {
  cursor: pointer;
  fill: var(--action-color);

  transition: all 0.2s ease;
}

.home_content svg {
  height: 3rem;
  width: 3rem;
}

.cards {
  width: 90vw;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
