.modal {
  background: #d5dbb3;
  border-radius: 25px;
  border: 1px solid #bb371a;
  position: absolute;
  top: 30vh;
  padding: 0 0 2rem 0;
  fill: #bb371a;

  /* height: 50%; */
  width: 50%;

  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
.modal h2 {
  margin: 0;
  font-size: xx-large;
}

.modal_row {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  /* background: #fff8d9; */
  width: 95%;
  height: 15vh;

  margin: 0.5rem;
  padding: 1rem;
  font-size: large;
  border-bottom: 1px solid #bb371a;
}
.modal_row button {
  height: 2rem;
  width: 2rem;
  background: transparent;
  border-radius: 100%;
  border: 2px solid #bb371a;
  fill: #bb371a;

  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease;
}
.modal_row svg {
  height: 1rem;
  width: 1rem;
}
.modal_row button:hover {
  color: #005a8d;
  border-color: #005a8d;
  transition: all 0.2s ease;
  fill: #005a8d;
}
.modal_cropped_image {
  max-width: 60%;
  max-height: 50%;
  text-indent: -60%;

  overflow: hidden;
}
.modal_cropped_image img {
  max-width: initial;
  margin-top: -60%;
}
.modal_row img {
  /* height: 10rem;
  width: 10rem; */
  /* width: 60%; */

  /* overflow: hidden; */
  /* clip-path: ellipse(2rem 2rem at 50% 50%); */
  /* clip-path: inset(5rem 0 5rem 0); */
}

.modal_action_items {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  width: 25%;
}
